* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* inizio header */


header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.3rem;
    position: fixed;
    background-color: white;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}

.column-sx {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    min-width: 35rem;
    align-items: center;
    text-align: start;
    padding: 0.5rem 1rem;
}

.column-sx>a {
    text-decoration: none;
    color: grey;

}

.column-sx>a:hover {
    padding: 1.2rem 0;
    border-bottom: 0.2rem solid rgba(128, 128, 128, 0.629);
}

.column-dx>a:hover {
    padding: 1.2rem 0;
    border-bottom: 0.2rem solid rgba(128, 128, 128, 0.629);
}


.column-dx>a {
    text-decoration: none;
    color: rgba(128, 128, 128, 0.629);
}

img {
    height: 1.5rem;
}

.column-center {
    width: 15rem;
}

.column-dx {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    align-items: center;
    min-width: 35rem;
    text-align: end;
}

.column-dx>button {
    font-size: 1rem;
    background-color: blue;
    padding: 0.4rem 1rem;
    color: white;
}




/*inizio main*/


/* first section */


.first-section {
    background-color: rgb(180, 208, 231);
    padding-top: 2rem;
}

.main-page {
    margin: auto;
    width: 70%;
}

h1 {
    margin: auto;
    text-align: center;
    padding: 3rem 0;
    font-size: 4rem;
    text-align: start;

}

.box {
    display: flex;
    height: 23rem;
}

.description {
    width: 30%;
    line-height: 1.5rem;
}

.description>p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

.description>button {
    padding: 0.5rem 1rem;
    margin: 2rem 0;
    color: white;
    background-color: blue;
}

.fa-arrow-down {
    padding: 2rem 0;
    font-size: 2rem;
}

.img1 {
    display: flex;
    align-items: center;
    width: 70%;
}

.img1>img {
    margin-left: -0.5rem;
    margin-top: 5rem;
    width: 130%;
    height: 124%;
}





/* second section */


.second-section {
    padding-top: 8rem;
}

.second-container {
    margin: auto;
    width: 60%;
    padding-bottom: 2rem;
}

.second-container>h2 {
    padding: 3rem 0;
}

.plan {
    display: flex;
    justify-content: space-between;
}

.plan>.column-a {
    margin-top: 2rem;
    width: calc(100% / 3 - 1rem);
    border: 0.1rem solid rgba(128, 128, 128, 0.200);
}

.column-bottom {
    border: 0.1rem solid rgba(128, 128, 128, 0.200);
    margin-top: 2rem;
}

.up {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 0.1rem solid rgba(128, 128, 128, 0.200);
}

.column-a>.under {
    display: flex;
    flex-direction: column;
    padding: 1.3rem;

}

.column-a>.under>h2 {
    padding: 1rem 0;
}

.column-a>.under>h5 {
    padding: 2rem 0;
}

.column-a>.under>h6 {
    padding-bottom: 1.5rem;
    color: rgba(128, 128, 128, 0.629);
    font-style: oblique;
}


.column-a>.under>p {
    padding-bottom: 1rem;
}

.column-a>.under>button {
    color: white;
    background-color: blue;
    padding: 0.7rem 0;
    margin: 1.5rem 0;
}

.column-a>.under>hr {
    margin: 1rem 0;
}

.fa-check {
    color: blue;
}

.column-bottom>.under {
    display: flex;
}

.under-sx {
    text-align: start;
    background-color: white;
    min-width: 0%;
    padding: 1rem;
}

.under-sx>h3 {
    padding: 2rem 0;
}

.under-sx>p {
    font-size: 1rem;
}

.under-dx {
    display: flex;
    justify-content: flex-end;
    min-width: 30%;
    background-color: white;
}

.under-dx>button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 2rem;
    padding: 1.3rem 3.5rem;
    margin: 2rem 1.3rem;
    color: white;
    background-color: blue;
}






/* third section */


.third-section {
    padding: 2rem 0;
    margin-bottom: 5rem;
}

.third-container {
    display: flex;
    margin: auto;
    width: 60%;
}

.img2 {
    min-width: 60%;
}

.img2>img {
    width: 100%;
    height: 100%;
}

.text2 {
    padding-left: 1rem;
}

.text2>h2 {
    padding: 2rem 0;
}

.text2>button {
    margin: 2rem 0;
    padding: 0.5rem 2rem;
    color: black;
    background-color: white;
}







/* fourth section */


.fourth-container {
    margin: auto;
    width: 60%;
}

.card {
    width: calc(100% / 3 - 1rem);
    padding: 1rem 0;
}

.fourth-container>h2 {
    padding-bottom: 3rem;
}


.img3>img {
    width: 100%;
    height: 100%;
}

.card>h3 {
    padding: 1rem 0;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}






/* fifth section */


.fifth-section {
    padding: 8rem 0;
}

.fifth-container {
    margin: auto;
    width: 60%;
}

.fifth-container>h2 {
    padding: 3rem 0;
}






/* sixth section */


.sixth-container {
    display: flex;
}

.box-sx {
    display: flex;
    flex-wrap: wrap;
    min-width: 33.3%;


}

.box-sx>.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    width: calc(100% / 2);
    background-color: lightgreen;

}

.box-center {
    background-color: rgb(245, 245, 245);
    min-width: 33.3%;
    aspect-ratio: 1 / 1;

}

.box-center>.content {
    margin: 3rem;
}

.content>img {
    width: 50%;
    height: 50%;
}

.content>hr {
    width: 20%;
    margin: 2rem 0;
}

.content>p {
    padding-bottom: 3rem;
}

.box-dx {
    display: flex;
    flex-wrap: wrap;
    background-color: orangered;
    min-width: 33.3%;
}

.box-dx>.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    width: calc(100% / 2);
}

.pic>.ph1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(162, 211, 155);
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.ph1>img {
    width: 60%;
    height: 60%;
    filter: invert(10);
}

.pic>.ph2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(97, 8, 3);
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.ph2>img {
    width: 60%;
    height: 60%;
    filter: invert(10);
}

.pic>.ph3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 147, blue);
    padding: 1rem;
}

.ph3>img {
    width: 60%;
    height: 60%;
    filter: invert(10);

}

.pic>.ph4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.ph4>img {
    width: 60%;
    height: 60%;
    filter: invert(10);
}

.pic>.ph5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 0, 31);
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.ph5>img {
    width: 60%;
    height: 60%;
    filter: invert(10);
}

.pic>.ph6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 208, 231);
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.ph6>img {
    width: 60%;
    height: 60%;
    filter: invert(10);
}

.pic>.ph7 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 36, 129);
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.ph7>img {
    width: 60%;
    height: 60%;
    filter: invert(10);
}

.pic>.ph8 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 216, 48);
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.ph8>img {
    width: 60%;
    height: 60%;
    filter: invert(10);
}




/* seventh section */


.seventh-section {
    background-color: rgb(180, 208, 231);
}

.seventh-container {
    display: flex;
    margin: auto;
    width: 60%;
    justify-content: space-between;
    padding: 4rem 0;
}

.seventh-container>h2 {
    padding: 3rem 0;
    color: rgb(97, 8, 43);
}

.seventh-container>button {
    height: 2rem;
    margin: 4rem 0;
    padding: 0.5rem 1rem;
}





/* eighth section */


.eighth-section {
    padding-bottom: 5rem;
}

.eighth-container {
    margin: auto;
    width: 60%;
}

.eighth-container>h2 {
    padding: 3rem 0;
}

.eighth-container>h4 {
    padding: 2rem 0;

}

.eighth-container>hr {
    background-color: gray;
}

.title {
    display: flex;
    justify-content: space-between;
}

.row {
    padding: 2rem 0;
}

.hidden {
    display: none;
}

.title:hover+.hidden {
    display: block;
}





/*inizio footer */


/* final section */

.final-section {
    background-color: black;
    padding-bottom: 5rem;
}

.final-container {
    display: flex;
    margin: auto;
    width: 60%;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    color: white;
}

.info>h3 {
    padding: 2rem 0;
}

.info>a {
    line-height: 2rem;
    text-decoration: none;
    color: white;
}

.info>hr {
    color: white;
    margin-top: 6rem;
}

.info>span {
    padding-top: 2rem;
}